/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */


 /* 1. ---General Styles--- */

 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 22px;
 }
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
 
 /* 2. ---Main Nav--- */
 
  #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 
 
 
 
 #main-nav input, #burger-con {
    display: none;
 }
 
 
 /*   ~ sibling selector   */
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
 }
 
 #main-nav ul li {
    border-bottom: 1px solid #efefef;
 }
 
 #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }
 
 
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;
   }
 
 
 /* 3. ---Main Hero Image--- */
 
 #hero {
    background: url(../images/mobile-all-inc-hero.jpg) no-repeat;
    height: 200px;
 }
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
    align-self: end;
 }
 
 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;
 }
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }
 
 /* 4. ---Main Hero Image Contact--- */
 

 



 /* 5. ---Content Nav--- */
 
 #content {
    background-color: #efefef;
 }
 

  #content-nav {
    padding-top: 20px;
 }
 
 #content-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #content-nav ul li {
    margin-bottom: 15px;
 }
 
 #content-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #content-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }
 
 /* Key exp */
 
 #key-exp-hero-con {
   background: url(../images/mobile-all-inc-key.jpg) no-repeat;
   height: 195px;
 }
 
 #key-exp-heading-box {
    align-self: end;
 }
 
#key-exp ol {
padding-right: 10px;
}

/* Bonuses */

#bonuses-hero-con {
   background: url(../images/mobile-all-inc-bonuses.jpg) no-repeat;
   height: 195px;
 }
 
 #bonuses-heading-box {
    align-self: end;
 }
 
  #bonuses-bottom-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #bonuses-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
 }
 
 #bonuses-bottom-nav ol li {
    display: inline;
 }
 
 #bonuses-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
 }
 
 
 
 /* 6. ---Rentals--- */
 
 #rentals-hero-con {
    background: url(../images/mobile-all-inc-rentals.jpg) no-repeat;
    height: 195px;
 }
 
 #rentals-heading-box {
    align-self: end;
 }
 


/* Drop Downs */

.rentals-con {
   margin-top: 30px;
   background-color: #d4d4d4;
   width: 300px;
   margin-left: 41px;
   padding-top: 5px;
   padding-bottom: 5px;
}

#spring-con {
   margin-top: 40px;
}

.rentals-dropdowns {
   text-align: center;
}

.rentals-con label {
   cursor: pointer;
}

.rentals-lists label p {
   display: inline;

}

.rentals-lists label img {
   width: 20px;
   height: 20px;
   transition: all .5s ease;
}

/* Title spacing */

.rentals-lists label {
   margin-left: 20px;
}

#spring-con img {
   margin-right: 45px;
}

#winter-con label img {
   margin-right: 43px;
}

/* Sibling Selectors */

.rentals-con input, .rentals-dropdowns {
   display: none;
}

.rentals-con input:checked ~ .rentals-dropdowns {
   display: block;
}

.rentals-con input:checked ~ label img {
   transform: rotate(90deg);
}

/* Rentals styling */

.rentals-con ul {
   list-style: none;
   padding: 0;
   margin: 0;

}

.rentals-con  ul li {
   display: block;
   padding: 10px 0px 10px 0px;
   text-align: center;
   color: #626262;
   border-bottom: 1px solid #6b5b5b;
}

.rentals-dropdowns {
   background-color: #ececee;
}

.rentals-lists {
   margin-bottom: 30px;
}

.rentals-lists h3 { 
   padding-top: 10px;
}

.rentals-lists h4 {
   margin-top: 10px;
   margin-bottom: 10px;
}

.rentals-lists .rentals-con:last-child {
   margin-bottom: 40px;
}
 
/* Extra Fees */

 #extra-fees-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 #extra-fees-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
 }
 
 #extra-fees-con h2 span {
    color: #9a2018;
    font-size: 16px;
 }

 /* 8. ---Footer--- */
 
 #footer-hero {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;

    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    line-height: 18px;
    font-size: 11px;
 }