/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */


 /* 1. ---General Styles--- */
 
 #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-size: 14px;
}

p {

    line-height: 22px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

.cr-red {
    color: #9a2018;
}

/* main nav */

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px;
}

#main-nav input, #burger-con {
    display: none;
}

/* sibling selector */

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 20px;
    max-width: 382px;
} 

/* main hero img */ 

#hero {
    background: url(../images/mobile-dining-hero.jpg) no-repeat;
    height: 200px;
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
}

.book-now:hover {
    background-color: rgb(196, 28, 28);
}

#book-now-hero {
    height: 67px;
}

#hero-heading-box {
    align-self: end;
}

.hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
}

.hero-img-h2 span, .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
}

.line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    margin-bottom: 20px;   
}

/* Meals and Hours */


#meals-and-hours .content-nav {
    background-color: #efefef
}

#meals-and-hours-nav {
    padding-top: 20px;
}

#meals-and-hours-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#meals-and-hours-nav ul li {
    margin-bottom: 15px;
}

#meals-and-hours-nav ul li a {
    color: inherit;
    padding: 5px;
}

#meals-and-hours-nav ul li a.selected {
    border-left: #9a0218 solid 5px;
}

#meals-and-hours-hero-con {
    background: url(../images/mobile-dining-meals-and-hours.jpg) no-repeat;
    height: 195px;
}

#meals-and-hours-heading-box {
    align-self: end;
}

.meals-list .col-span-full {
padding-right: 40px;
}

.meals-list li {
    list-style-type: none;
    margin-bottom: 15px;
    margin-right: 15px;
}

#meals-and-hours p:last-child {
    margin-bottom: 20px;
}

.meals-list span {
    font-weight: bold;
}

/* Menu */


#menu-hero-con {
    background: url(../images/mobile-dining-menu.jpg) no-repeat;
    height: 195px;
}

#menu-heading-box {
    align-self: end;
}



/* menu drop downs */


.menu-con {
    margin-top: 12px;
    background-color: #e8e7e7;
    padding-top: 5px;
    padding-bottom: 5px;
}

#daily-ft-con {
    margin-top: 40px;
}

.menu-dropdowns {
    text-align: center;
    margin-top: 5px;
}

.menu-con label {
    cursor: pointer;
}

.menu-lists label p {
    display: inline;
}

.menu-lists label img {
    width: 20px;
    height: 20px;
    transition: all .5s ease;
    margin-top: 5px;
}

.menu-lists label span {
    font-size: 16px;
}

/*menu title spacing */

.menu-lists label {
    margin-left: 20px;
}



#daily-ft-con img {
    margin-right: 80px;
}

#starters-con label img {
    margin-right: 108px;
}

#entrees-con label img {
    margin-right: 111px;
}

#desserts-con label img {
    margin-right: 108px;
}


#breakfast-con label img {
    margin-right: 103px;
}

#lunch-con label img {
    margin-right: 123px;
}

#drinks-con label img {
    margin-right: 119px;
}

/* sibling selectors */

.menu-con input, .menu-dropdowns {
    display: none;
}

.menu-con input:checked ~ .menu-dropdowns {
    display: block;
}

.menu-con input:checked ~ label img {
    transform: rotate(90deg);
}

/* Menu list styling */

.menu-dropdowns span {
    font-weight: bold;
}

.menu-con ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-con ul li {
    display: block;
    padding: 10px;
    text-align: center;
}

.menu-dropdowns {
    background-color: #f8f8f8;
}

.menu-lists h3 {
    padding-top: 10px;
    padding-bottom: 10px ;
    color: #626262;
    border-top: 1px solid #6b5b5b;
}

.menu-lists h3:first-of-type { 
    border-top: 0px;
 }

.menu-lists h4 {
    padding-top: 15px;
    margin-bottom: 10px;
    color: #626262;
    border-top: 1px solid #6b5b5b;
}

#drinks-con ul li {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
    border-bottom: none;

}

#winebyg {
    border-top: 1px solid #6b6b6b;
    padding-top: 10px;
}

#drinks-con ul h4 {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
    border-top: 1px solid #6b6b6b;

}

.menu-lists .menu-con:last-child {
    margin-bottom: 65px;
}

/* Wine Awards */ 

#wine-hero-con {
    background: url(../images/mobile-dining-award.jpg) no-repeat;
    height: 195px;
}

#wine-heading-box {
    align-self: end;
}

#wine-con p {
    padding-top: 20px;
}

/* Footer */

#footer-hero {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 40px;
}

#footer-hero h3 {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 28px;
}

#footer-privacy .line-separator {
    margin-top: 0px;
    margin-bottom: 50px;
}

#footer-contact-info h3 {
    font-size: 23px;
}

#footer-contact-info p {
    line-height: 18px;
    font-size: 11px;
}
